@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #1e202c;
    --cor2: #31323e;
    --cor3: #60519b;
    --cor4: #bfc0d1;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
    overflow-x: hidden;
    max-width: 1050px;
    min-width: 380px;
}

header {
    height: 100dvh;
    display: flex;
    align-items: center;
    margin-left: 20px;
    justify-content: space-between;
}

header > nav {
    display: flex;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 2px;
    position: fixed;
    background: var(--cor1);
    justify-content: space-between;
    align-items: center;
}

header > img {
    width: 500px;
    height: 500px;
    border-radius: 25%;
    margin-right: 50px;
    border: 2px solid var(--cor3);
    box-shadow: var(--cor3) -4px 9px 25px -6px;
}

.links {
    display: flex;
    gap: 15px;
    top: 0;
    margin-right: 20px;
}

nav > a {
    font-family: "Playwrite DE Grund", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
    color: var(--cor3);
    margin-right: 15px;
}

.links a {
    padding: 5px;
    font-size: large;
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.links a:hover {
    color: var(--cor3);
}

.maquina-txt {
    font-family: "Comic Relief", Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 5em;
    max-width: 480px;
    text-shadow: var(--cor2) 2px 2px 6px;
}

.maquina-txt:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

section#sobre {
    min-height: 100dvh;
    background-color: rgb(183, 178, 178);
}

article > h2, h3 {
    color: var(--cor3);
}



footer {
    min-height: 100dvh;
}