@charset "UTF-8";

/* Variaveis, fontes e organização global do site */ 

@import url('https://fonts.googleapis.com/css2?family=Jua&family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

:root {
    --cor1: #1e202c;
    --cor2: #31323e;
    --cor3: #60519b;
    --cor4: #bfc0d1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--cor1);
    width: 100%;
}

strong {
    font-weight: 500;
    color: var(--cor3);
}

/* Organização do header do site */ 

header {
    height: 100dvh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    box-sizing: border-box;
}

header > img {
    max-width: 40%;
    height: auto;
    border-radius: 25%;
    margin-right: 50px;
    border: 2px solid var(--cor3);
    box-shadow: var(--cor3) -4px 9px 25px -6px;
}

.text-header {
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* Organização da nav bar */ 

nav {
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 50px;
    position: fixed;
    background: rgba(30, 32, 44, 0.95);
    backdrop-filter: blur(15px);
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(12px);
    z-index: 1000;
    border-bottom: 1px solid #60519b6c;
    transition: top 0.5s ease-in-out;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: 0.3s;
}

.links a:hover {
    color: var(--cor3);
}

nav > a {
    font-family: "Playwrite DE Grund", Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 300;
    padding: 5px;
    text-decoration: none;
    color: var(--cor3);
    margin-right: 15px;
}

.esconder-indice {
    display: none;
}

/* Estilização do efeito máquina de escrever */ 

.maquina-txt {
    font-family: "Comic Relief", Arial, Helvetica, sans-serif;
    color: var(--cor3);
    font-size: 3em;
    max-width: 480px;
    text-shadow: var(--cor2) 2px 2px 6px;
}

.maquina-txt:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

/* Animação do efeito máquina de escrever */ 

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

/* Main - Estilização da seção Sobre mim */ 

section#sobre {
    min-height: auto;
    background-color: var(--cor4);
    backdrop-filter: blur(10px);
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    border-radius: 20px;
    box-shadow: var(--cor3) 0px 2px 3px;
}

section#sobre h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
}

section#sobre h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

section#sobre p {
    margin-bottom: 30px;
}

button {
    background-color: var(--cor3);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    transition: 0.3s;
}

button:hover {
    background-color: var(--cor4);
    color: var(--cor1);
}

.container-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.btn-curriculo {
    background-color: var(--cor3);
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.btn-curriculo:hover {
    background-color: var(--cor2);
    transform: scale(1.04);
}

/* Main - Estilização da seção ti e interesses */ 

section#habilidades {
    height: 80dvh;
    display: flex;
    justify-items: center;
    align-items: center;
    min-height: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.6;
}

article#habilidades {
    height: 80dvh;
    font-size: 16px;
    color: white;
    height: auto;
    max-width: 900px;
    margin: 15px auto;
    text-align: center;
    padding: 20px;
    background-color: var(--cor2);
    border-radius: 20px;
    box-shadow: var(--cor3) 1px 2px 3px;
}

article#habilidades h2 {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

article#habilidades p {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 10px;
}

ul .skills{
    display: flex;
    flex-direction: wrap;
    padding: 20px;
    gap: 15px;
    width: 250px;
    height: auto;
    padding: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
}

li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 5px auto;
    max-width: 500px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    gap: 12px;
    transition: 0.4s;
}

li:hover {
    background-color: var(--cor3);
    transform: scale(1.03);
}

li img {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}

/* Estilização da seção Projetos */

section#projetos h2 {
    color: var(--cor3);
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 30px;
}

section#projetos h3 {
    margin-bottom: 20px;
}

section#projetos ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    list-style: none;
    flex-grow: 1;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

section#projetos li {
    max-width: 900px;
    margin: 10px;
}

section#projetos a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

section#projetos p {
    color: white;
    font-size: 16px;
    text-align: left;
}

.item-projeto{
    background: var(--cor2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.3s;
}

.item-projeto:hover {
    background-color: var(--cor1);
    
}

.item-projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.item-projeto button {
    background-color: var(--cor2);
    border: 1px solid var(--cor3);
    margin: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.item-projeto button:hover{
    background-color: var(--cor1);
}


/* Estilização da seção Contato */ 

article > h2, h3 {
    color: var(--cor3);
}

section#contato {
    height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

article#contato {
    max-width: 900px;
    height: auto;
    border-radius: 20px;
    margin: 2px auto;
    padding: 5px;
    text-align: center;
    transition: 0.4s;
}

article#contato h2 {
    color: var(--cor3);
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}

article#contato ul {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

article#contato li {
    display: flex;
    flex-direction: wrap;
    padding: 20px;
    gap: 15px;
    min-width: 150px;
    max-width: 250px;
    height: auto;
    padding: 0;
    box-shadow: rgba(255, 255, 255, 0.1) 1px 1px 1px;
}

article#contato li a {
    text-align: center;
    text-decoration: none;
    color: white;
    gap: 20px;
}

/* Estilização do rodapé */ 

footer {
    text-align: center;
    background-color: var(--cor2);
}

footer a {
    text-decoration: none;
    color: var(--cor4);
}

footer a:hover{
    color: var(--cor3);
    transition: 0.3s;
}

/* utilizando media querie para melhor resolução mobile do site */ 

@media (max-width: 768px) {
    body {
        overflow-x: hidden; 
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-height: 100dvh;
        text-align: center;
        margin-left: 0;
    }

    nav {
        padding: 10px;
        height: auto;
        flex-direction: column;
        padding-bottom: 10px;
        justify-content: center;
    }

    .maquina-txt {
        font-size: 1.8em;
    }

    .links {
        gap: 10px;
        margin-right: 0;
    }

    nav > a {
        font-size: 1.1em;
    }

    .esconder {
        display: none;
    }

    .esconder-tech {
    display: none;
    }

    .esconder-indice {
        display: block;
    }

    section#habilidades, section#sobre, section#projetos{
    margin: 10px;
    height: auto;
    min-height: 100dvh;
    padding-top: 10px;
    padding-bottom: 20px;
    display: block;
    }

    article#contato ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 0;
        gap: 5px;
    }

    article#contato li {
        min-width: 120px;
        max-width: 160px;
    }

}